<launch>
    <!--node ns="local_costmap" name="voxel_grid_throttle" pkg="topic_tools" type="throttle" args="messages voxel_grid 3.0 voxel_grid_throttled" /-->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="move_forward_only" default="false"/>
    <arg name="local_planner" default="dwb" doc="Local planner can be either dwa, base, teb or pose"/>
    <arg name="prefix" default="" doc="Prefix used for robot tf frames" /> <!-- used in the config files -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen" clear_params="true">
        <param name="SBPLLatticePlanner/primitive_filename" value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" />
        <rosparam file="$(find turtlebot3_navigation)/config/move_base_common_params.yaml" command="load" />
        <rosparam file="$(find turtlebot3_navigation)/config/sbpl_global_params.yaml" command="load" />
        <rosparam file="$(find turtlebot3_navigation)/config/dwb_local_planner_params.yaml" command="load" />
        <!-- global costmap params -->
        <rosparam file="$(find turtlebot3_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true" />
        <rosparam file="$(find turtlebot3_navigation)/config/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/costmap_global_params_plugins_no_virtual_walls.yaml" command="load" />
        <!-- local costmap params -->
        <rosparam file="$(find turtlebot3_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true" />
        <rosparam file="$(find turtlebot3_navigation)/config/costmap_local_params.yaml" command="load" subst_value="true" />
        <remap from="map" to="map" />
        <remap from="odom" to="odom" />
        <remap from="marker" to="move_base_node/DWBLocalPlanner/markers" />
    </node>
</launch>
